<div class="row"> 
	<div class="col-xs-4">
		<div class="btn btn-lg btn-primary" ng-click="btn(1)">Power On</div>
	</div>
	<div class="col-xs-4">
		<div class="btn btn-lg btn-warning" ng-click="btn(2)">System Enable</div>
	</div>
	<div class="col-xs-4">
		<div class="btn btn-lg btn-danger" ng-click="btn(9)">Power Off</div>
	</div>
</div>
<div class="row"> 
	<div class="col-xs-6">
		<div class="btn btn-lg btn-primary" ng-click="lvl(100)">Power On</div>
	</div>
	<div class="col-xs-6">
		<div class="btn btn-lg btn-warning" ng-click='str("Hello World")'>System Enable</div>
	</div>
</div>